<div class="layout-container">
  <app-header
    (openSideNav)="toggleSidenav()"
    [user]="currentUser | async"
    [isLoggedIn]="(currentUser | async) !== null"
    class="header"
  />

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #sidenav
      mode="over"
      [(opened)]="isSidenavOpen"
      class="sidenav"
    >
      <mat-nav-list>
        <a mat-list-item routerLink="/sign-in">Sign In</a>
        <a mat-list-item routerLink="/boards-list">Boards List</a>
        @if (isAdmin) {
          <a mat-list-item routerLink="/admin">Admin Panel</a>
        }
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="content-container">
      <router-outlet />
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
