@import "../theming/mixins";

.sidenav {
  &__container {
    height: calc(100vh - 64px);
  }
  width: 280px;
  border-right: 1px solid var(--mat-sys-outline-variant) !important;
  border-radius: 0;

  background: var(--mat-sys-surface-container) !important;

  &__content {
    display: flex;
    container-type: inline-size;
    height: 100%;
  }
}

@media (width <= 1024px) {
  .sidenav {
    width: 260px;
  }
}

@media (width <= 768px) {
  .sidenav {
    width: 260px;
  }
}

@media (width <= 480px) {
  .sidenav {
    width: 240px;
  }
}
