.sidenav {
  &__container {
    height: calc(100vh - 64px);
  }

  background: var(--mat-sys-surface-container) !important;
  border-right: 1px solid var(--mat-sys-outline-variant) !important;
  width: 280px;
  border-radius: 0;

  &__content {
    display: flex;
    container-type: inline-size;
    height: 100%;
  }
}

@media (max-width: 1024px) {
  .sidenav {
    width: 260px;
  }
}

@media (max-width: 768px) {
  .sidenav {
    width: 260px;
  }
}

@media (max-width: 480px) {
  .sidenav {
    width: 240px;
  }
}
