:host {
  flex: 1;
}

.main-page {
  min-height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 32px;
  gap: 32px;

  &__welcome {
    border: 1px solid var(--mat-sys-outline-variant);
    border-radius: 16px;
    padding: 16px;
    gap: 16px;
    display: flex;
    flex-direction: column;
    background-color: var(--mat-sys-primary-container);
    color: var(--mat-sys-on-primary-container);
  }

  &__welcome-title {
    font: var(--mat-sys-headline-small);
    font-weight: 600;
  }

  &__tiles {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__tiles-title {
    font: var(--mat-sys-headline-small);
    font-weight: 600;
  }

  &__tiles-grid {
    grid-template-columns: repeat(3, 1fr);
    &__tile--small {
      grid-column: span 1;
    }

    &__tile--medium {
      grid-column: span 2;
    }

    &__tile--large {
      grid-column: span 3;
    }

    display: grid;
    gap: 16px;
  }
}

@container (max-width: 1280px) {
  .main-page {
    padding: 24px;
    gap: 24px;

    &__tiles-grid {
      &__tile--large {
        grid-column: span 2;
      }
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@container (max-width: 1024px) {
  .main-page {
    padding: 20px;
    gap: 24px;

    &__welcome {
      border-radius: 14px;
      padding: 14px;
      gap: 14px;
    }

    &__welcome-title {
      font: var(--mat-sys-title-large);
    }

    &__tiles {
      gap: 14px;
    }

    &__tiles-title {
      font: var(--mat-sys-title-large);
    }

    &__tiles-grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 14px;
    }
  }
}

@container (max-width: 768px) {
  .main-page {
    padding: 12px;
    gap: 12px;

    &__welcome {
      border-radius: 12px;
      padding: 12px;
      gap: 12px;
    }

    &__welcome-title {
      font: var(--mat-sys-title-medium);
    }

    &__tiles {
      gap: 12px;
    }

    &__tiles-title {
      font: var(--mat-sys-title-medium);
    }

    &__tiles-grid {
      grid-template-columns: repeat(1, 1fr);
      &__tile--medium {
        grid-column: span 1;
      }

      &__tile--large {
        grid-column: span 1;
      }

      gap: 12px;
    }
  }
}

@container (max-width: 480px) {
  .main-page {
    padding: 8px;
    gap: 8px;

    &__welcome {
      border-radius: 8px;
      padding: 8px;
      gap: 8px;
    }

    &__welcome-subtitle {
      font: var(--mat-sys-body-medium);
    }

    &__tiles {
      gap: 8px;
    }

    &__tiles-grid {
      gap: 8px;
    }
  }
}

@container (max-width: 280px) {
  .main-page {
    padding: 6px;
    gap: 6px;

    &__welcome {
      border-radius: 6px;
      padding: 6px;
      gap: 6px;
    }

    &__welcome-title {
      font: var(--mat-sys-body-large);
    }

    &__welcome-subtitle {
      font: var(--mat-sys-body-small);
    }

    &__tiles {
      gap: 6px;
    }

    &__tiles-title {
      font: var(--mat-sys-body-large);
    }

    &__tiles-grid {
      gap: 6px;
    }
  }
}
