<div class="main-page-container">
  <div class="welcome-section">
    <div class="welcome-title" translate="main.welcome.title"></div>
    <div class="welcome-subtitle" translate="main.welcome.subtitle"></div>
  </div>

  <div class="tiles-section">
    <div class="section-title" translate="main.sections.title"></div>

    <div class="tiles-grid">
      @for (tile of tiles; track tile.title) {
          <kn-tile
            [tile]="tile"
            (tileClick)="onTileClick(tile)"
          />
      }
    </div>
  </div>
</div>
