<div class="board" cdkDropListGroup>
  @if (board$ | async; as board) {
    @for (column of board.columns; track $index) {
      <mat-card
        class="column"
        cdkDropList
        [cdkDropListData]="column.tasks"
        (cdkDropListDropped)="drop($event, board)"
        appearance="outlined"
      >
        <mat-card-header>
          <mat-card-title>{{ column.name }}</mat-card-title>
        </mat-card-header>

        <mat-card-content class="column-content">
          @for (task of column.tasks; track $index) {
            <app-taks-preview
              [taks]="task"
              (editTask)="editTask(task.id)"
              [name]="task.title"
              (deleteTask)="deliteTask(task.id)"
              class="task"
              cdkDrag
            />
          }
          <mat-card class="example-card" appearance="outlined" (click)="createTask('' + board.id, '' + column.id)">
            <mat-card-header>
              <mat-card-title>Добавить задачу</mat-card-title>
            </mat-card-header>
          </mat-card>
          <!-- <app-taks-preview
              [taks]="{}"
              (editTask)="editTask('' + task.id)"
              [name]="task.title"
              class="task"
              cdkDrag
            /> -->
        </mat-card-content>
      </mat-card>
    }
  }
</div>
