<div class="board">
  @if (boardState$ | async; as boardState) {
    @if (boardState.loading) {
      <div class="board__loading">
        <mat-spinner diameter="50" />
        <div class="board__loading-text">
          {{ 'board.loadingBoard' | translate }}
        </div>
      </div>
    } @else if (boardState.error) {
      <div class="board__error">
        <mat-icon class="board__error-icon">error</mat-icon>
        <div class="board__error-message">
          {{ 'board.errorLoadingBoard' | translate }}
        </div>
        <div class="board__error-details">{{ boardState.error }}</div>
        <button
          mat-raised-button
          color="primary"
          (click)="initializeBoard()"
          class="board__retry-button"
        >
          {{ 'common.tryAgain' | translate }}
        </button>
      </div>
    } @else if (boardState.board) {
      <div class="board__columns" cdkDropListGroup>
        @for (column of boardState.board.columns; track column.id) {
          <div class="board__column-container">
            <div class="board__column">
              <mat-card
                class="board__column-card"
                
                appearance="outlined"
              >
                <mat-card-header>
                  <mat-card-title class="board__column-title">
                    <mat-icon class="board__column-icon">view_column</mat-icon>
                    {{ column.name }}
                    <span class="board__task-count"
                      >({{ column.tasks?.length || 0 }})</span
                    >
                  </mat-card-title>
                </mat-card-header>

                <mat-card-content class="board__column-content"
                cdkDropList
                [cdkDropListData]="column.tasks"
                [id]="column.id.toString()"
                (cdkDropListDropped)="onDrop($event, boardState.board)">
                  @for (task of column.tasks; track task.id) {
                    <kn-taks-preview
                      [taks]="task"
                      (editTask)="editTask(task.id)"
                      [name]="task.title"
                      (deleteTask)="deleteTask(task.id)"
                      class="board__task"
                      cdkDrag
                    />
                  }
                </mat-card-content>
              </mat-card>
            </div>

            <mat-card
              class="board__add-task"
              appearance="outlined"
              (click)="createTask('' + boardState.board.id, '' + column.id)"
            >
              <mat-card-content class="board__add-task-content">
                <mat-icon class="board__add-task-icon">add</mat-icon>
                <span class="board__add-task-text">{{
                  'board.addTask' | translate
                }}</span>
              </mat-card-content>
            </mat-card>
          </div>
        }
      </div>
    } @else {
      <div class="board__empty">
        <mat-icon class="board__empty-icon">dashboard</mat-icon>
        <div class="board__empty-message">
          {{ 'board.noBoardFound' | translate }}
        </div>
        <div class="board__empty-details">
          {{ 'board.boardCouldNotBeLoaded' | translate }}
        </div>
      </div>
    }
  } @else {
    <div class="board__loading">
      <mat-spinner diameter="50" />
      <div class="board__loading-text">
        {{ 'common.initializing' | translate }}
      </div>
    </div>
  }
</div>
