@import "../../../../../theaming/mixins";

.theme-selector {
  container-type: inline-size;

  &__toggle-group {
    width: 100%;
  }

  &__option {
    flex: 1;
  }

  &__icon {
    margin-right: var(--spacing-sm);
  }

  @container (width <= 480px) {
    &__label {
      display: none;
    }

    &__icon {
      margin-right: 0;
    }
  }
}
