<div class="theme-selector">
  <mat-button-toggle-group
    [formControl]="colorSchemeControl"
    class="theme-selector__toggle-group"
  >
    @for (scheme of availableColorSchemes; track scheme.value) {
      <mat-button-toggle [value]="scheme.value" class="theme-selector__option">
        <mat-icon class="theme-selector__icon">{{ getThemeIcon(scheme.value) }}</mat-icon>
        <span class="theme-selector__label">{{ scheme.label }}</span>
      </mat-button-toggle>
    }
  </mat-button-toggle-group>
</div>
