@use "../../../../../theming/mixins" as *;

.language-selector {
  width: 100%;
  max-width: 300px;

  &__field {
    width: 100%;
  }

  &__label {
    display: flex;
    align-items: center;
    @include gap(xs);
  }

  &__option-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}
