<div class="language-selector">
  <mat-form-field appearance="outline" class="language-selector__field">
    <mat-label class="language-selector__label">
      <mat-icon class="language-selector__label-icon">language</mat-icon>
      {{ 'settings.language' | translate }}
    </mat-label>
    <mat-select
      [value]="i18nService.getCurrentLanguage()"
      (selectionChange)="onLanguageChange($event.value)"
      class="language-selector__select"
    >
      @for (language of i18nService.getLanguages(); track language.code) {
        <mat-option [value]="language.code" class="language-selector__option">
          <div class="language-selector__option-content">
            <span class="language-selector__option-content-name">{{ language.nativeName }}</span>
            <span class="language-selector__option-content-code">({{ language.code }})</span>
          </div>
        </mat-option>
      }
    </mat-select>
  </mat-form-field>
</div>
