<div class="avatar-picker">
  <div class="avatar-picker__image-container">
    <div
      class="avatar-picker__image"
      [style.background-image]="hasAvatar() ? 'url(' + avatarUrl() + ')' : 'none'"
    >
      @if (!hasAvatar()) {
        <div class="avatar-picker__placeholder">
          <mat-icon class="avatar-picker__placeholder-icon">person</mat-icon>
        </div>
      }
      <div class="avatar-picker__image-overlay" (click)="onAvatarClick()">
        <mat-icon class="avatar-picker__image-overlay-icon">camera_alt</mat-icon>
        <span class="avatar-picker__image-overlay-text">{{ 'settings.changeAvatar' | translate }}</span>
      </div>
      @if (isUploading()) {
        <div class="avatar-picker__image-loading">
          <mat-spinner class="avatar-picker__image-loading-spinner" diameter="30" />
        </div>
      }
    </div>
    <button
      type="button"
      mat-icon-button
      color="warn"
      (click)="onRemoveAvatar()"
      [disabled]="!hasAvatar()"
      class="avatar-picker__remove-button"
      matTooltip="{{ 'settings.removeAvatar' | translate }}"
    >
      <mat-icon class="avatar-picker__remove-button-icon">delete</mat-icon>
    </button>
  </div>

  <input
    #fileInput
    type="file"
    accept="image/*"
    (change)="onFileSelected($event)"
    class="avatar-picker__file-input"
  />
</div>
