<mat-toolbar class="header">
  <div class="header__container">
    <div class="header__left">
      @if (isSmallScreen) {
        <button
          mat-icon-button
          class="header__menu-button"
          (click)="openSideNav.emit()"
          [attr.aria-label]="'header.toggleNavigation' | translate"
        >
          <mat-icon>menu</mat-icon>
        </button>
      }

      <div class="header__brand" routerLink="/dashboard/main">
        <div class="header__brand-logo">
          <mat-icon class="header__brand-icon">dashboard</mat-icon>
        </div>
        <div class="header__brand-title">
          {{ 'header.brandTitle' | translate }}
        </div>
      </div>
    </div>

    <div class="header__right">
      @if (isLoggedIn) {
        <kn-user-badge [user]="user()" />
      } @else {
        <button
          mat-raised-button
          class="header__login-button"
          routerLink="/auth/sign-in"
        >
          <mat-icon>login</mat-icon>
          <span>{{ 'auth.signIn' | translate }}</span>
        </button>
      }
    </div>
  </div>
</mat-toolbar>
