<mat-toolbar class="toolbar">
  <button
    mat-icon-button
    (click)="openSideNav.emit()"
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span class="page-title">Канбан доска</span>
  <span class="example-spacer"></span>

  @if (themeControl) {
    <mat-button-toggle-group
      name="fontStyle"
      [formControl]="themeControl"
      aria-label="Font Style"
    >
      <mat-button-toggle value="light">св.</mat-button-toggle>
      <mat-button-toggle value="dark">тм.</mat-button-toggle>
      <mat-button-toggle value="system">сис.</mat-button-toggle>
    </mat-button-toggle-group>
  }
  @if (isLoggedIn) {
    <app-user-badge [user]="user()" />
  } @else {
    <div routerLink="/sign-in">Login</div>
  }
</mat-toolbar>
