<div class="kanban-board-list">
  <div class="kanban-board-list">
    <div class="board-container">
      @if (boards$ | async; as boards) {
        @for (board of boards; track board.id) {
          <mat-card class="board-card">
            <mat-card-title>{{ board.name }}</mat-card-title>
            <mat-card-subtitle>{{ board.id }}</mat-card-subtitle>
            <mat-card-actions>
              @if (authService.hasRole('ADMIN') || (canDelete(board.id) | async)) {
                <button mat-button color="warn" (click)="deleteBoard(board.id)">
                  Delete Board
                </button>
              }
              <button mat-button color="primary" (click)="openBoard(board.id)">
                Open Board
              </button>
            </mat-card-actions>
          </mat-card>
        }
        <mat-card class="board-card btn" (click)="addBoard()">
          <mat-card-title>Создать новую доску</mat-card-title>
        </mat-card>
      }
    </div>
  </div>
</div>
