<div class="auth-container">
  <mat-card>
    <mat-tab-group>
      <mat-tab label="Вход">
        <div [formGroup]="signInForm"></div>
        <form [formGroup]="signInForm" (ngSubmit)="onSignIn()">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Логин</mat-label>
            <input matInput formControlName="userName" required />
            @if (signUpForm.get("userName")?.invalid) {
              <mat-error>Обязательно</mat-error>
            }
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Пароль</mat-label>
            <input
              matInput
              formControlName="password"
              type="password"
              required
            />
            @if (signInForm.get("password")?.invalid) {
              <mat-error>Обязательно</mat-error>
            }
          </mat-form-field>

          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="signInForm.invalid"
          >
            Вход
          </button>
        </form>
      </mat-tab>

      <mat-tab label="Регистрация">
        <form [formGroup]="signUpForm" (ngSubmit)="onSignUp()">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Логин</mat-label>
            <input matInput formControlName="userName" required />
            @if (signUpForm.get("userName")?.invalid) {
              <mat-error>Обязательно</mat-error>
            }
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Имя</mat-label>
            <input matInput formControlName="name" required />
            @if (signUpForm.get("name")?.invalid) {
              <mat-error>Обязательно</mat-error>
            }
          </mat-form-field>



          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Пароль</mat-label>
            <input
              matInput
              formControlName="password"
              type="password"
              required
            />
            @if (signUpForm.get("password")?.invalid) {
              <mat-error>Обязательно</mat-error>
            }
          </mat-form-field>

          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="signUpForm.invalid"
          >
            Регистрация
          </button>
        </form>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
