<mat-card class="task" appearance="outlined">
  <mat-card-header class="task__header">
    <mat-card-title class="task__title">
      <mat-icon class="task__icon">assignment</mat-icon>
      {{ taks().title }}
    </mat-card-title>
  </mat-card-header>

  <mat-card-actions class="task__actions">
    <button
      mat-icon-button
      color="primary"
      (click)="editTask.emit('' + taks().id)"
      [matTooltip]="'board.editTask' | translate"
      class="task__action"
    >
      <mat-icon>edit</mat-icon>
    </button>
    <button
      mat-icon-button
      color="warn"
      (click)="deleteTask.emit('' + taks().id)"
      [matTooltip]="'board.deleteTask' | translate"
      class="task__action"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
