@import "../../../../theaming/mixins";

.edit-task-dialog {
  @include padding(lg);

  // width: ;
  &__title {
    @include margin-bottom(lg);
    font-size: 24px;
    font-weight: 500;
    text-align: center;
  }

  &__content {
    max-width: 800px;
    margin: 0 auto;
    @include padding(md);
  }

  &__form {
    display: flex;
    flex-direction: column;
    @include gap(lg);
  }

  &__field {
    width: 100%;
    @include margin-bottom(md);
  }

  &__description {
    &--preview {
      overflow: auto;
      height: 400px;
      min-height: 100px;
      @include margin-y(md);
      @include padding(md);
      border: 1px solid var(--color-border-secondary);
      border-radius: 4px;
    }

    &--edit {
      display: flex;
      flex-direction: column;
      @include gap(md);
    }

    &__button {
      @include margin-top(sm);
    }
  }

  &__comments {
    @include margin-top(xl);

    &__title {
      @include margin-bottom(md);
      font-size: 19px;
      font-weight: 500;
    }

    &__list {
      display: flex;
      flex-direction: column;
      @include gap(md);
      @include margin-bottom(xl);
    }

    &__item {
      @include padding(md);
      border-radius: 4px;
      background-color: var(--color-gray-100);

      &-header {
        display: flex;
        justify-content: space-between;
        @include margin-bottom(sm);
      }

      &-timestamp {
        color: var(--color-text-muted);
        font-size: 14px;
      }

      &-text {
        white-space: pre-wrap;
      }
    }

    &__new {
      @include margin-top(lg);

      &-button {
        float: right;
        @include margin-top(md);
      }
    }
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    @include gap(md);
    @include margin-top(xl);
    @include padding-y(lg);
    border-top: 1px solid var(--color-gray-200);
  }
}

@media (width <= 600px) {
  .edit-task-dialog {
    &__content {
      @include padding(sm);
    }
  }
}
