@use "../../../../theming/mixins" as *;

.user-display {
  display: flex;
  align-items: center;
  @include gap(sm);
  @include padding-y(sm);

  &__avatar {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--mat-sys-primary);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    box-sha &-initials {
      color: var(--mat-sys-on-primary);
      font: var(--mat-sys-body-medium);
    }
  }

  &__details {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-width: 0;
  }

  &__name {
    overflow: hidden;
    color: var(--mat-sys-on-surface);
    font: var(--mat-sys-body-large);
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__role {
    color: var(--mat-sys-on-surface-variant);
    font: var(--mat-sys-body-small);
  }

  &--guest {
    @include gap(sm);
    color: var(--mat-sys-on-surface-variant);

    mat-icon {
      flex-shrink: 0;
      width: 18px;
      height: 18px;
      font-size: 18px;
    }

    span {
      font: var(--mat-sys-body-medium);
    }
  }
}

@media (width <= 768px) {
  .user-display {
    @include padding-y(sm);

    &__avatar {
      width: 36px;
      height: 36px;

      &-initials {
        font: var(--mat-sys-body-small);
      }
    }

    &__name {
      font: var(--mat-sys-body-medium);
    }

    &__role {
      font: var(--mat-sys-label-small);
    }

    &--guest {
      span {
        font: var(--mat-sys-body-small);
      }
    }
  }
}

@media (width <= 480px) {
  .user-display {
    @include padding-y(xs);

    &__avatar {
      width: 32px;
      height: 32px;

      &-initials {
        font: var(--mat-sys-label-small);
      }
    }

    &__name {
      font: var(--mat-sys-body-small);
    }

    &__role {
      font: var(--mat-sys-label-small);
    }

    &--guest {
      span {
        font: var(--mat-sys-body-small);
      }
    }
  }
}
