<div class="not-found">
  <mat-card class="not-found__card">
    <mat-card-header></mat-card-header>
    <mat-card-content class="not-found__content">
      <div class="not-found__main">
        <div class="not-found__main-title">
          {{ 'common.notFound.title' | translate }}
        </div>
        <div class="not-found__main-subtitle">
          {{ 'common.notFound.subtitle' | translate }}
        </div>
        <div class="not-found__main-description">
          {{ 'common.notFound.description' | translate }}
        </div>
      </div>

      <div class="not-found__suggestions">
        <div class="not-found__suggestions-title">
          {{ 'common.notFound.suggestions' | translate }}
        </div>
        <mat-list class="not-found__suggestions-list">
          <mat-list-item>
            <mat-icon matListItemIcon>search</mat-icon>
            <span matListItemTitle>{{
              'common.notFound.suggestion1' | translate
            }}</span>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListItemIcon>arrow_back</mat-icon>
            <span matListItemTitle>{{
              'common.notFound.suggestion2' | translate
            }}</span>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListItemIcon>home</mat-icon>
            <span matListItemTitle>{{
              'common.notFound.suggestion3' | translate
            }}</span>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListItemIcon>support_agent</mat-icon>
            <span matListItemTitle>{{
              'common.notFound.suggestion4' | translate
            }}</span>
          </mat-list-item>
        </mat-list>
      </div>

      <div class="not-found__actions">
        <button
          mat-raised-button
          color="primary"
          (click)="goHome()"
          class="not-found__actions-home"
          type="button"
          [attr.aria-label]="'common.backHome' | translate"
        >
          <mat-icon aria-hidden="true">home</mat-icon>
          <span>{{ 'common.backHome' | translate }}</span>
        </button>

        <button
          mat-stroked-button
          (click)="goBack()"
          class="not-found__actions-back"
          type="button"
          [attr.aria-label]="'common.goBack' | translate"
        >
          <mat-icon aria-hidden="true">arrow_back</mat-icon>
          <span>{{ 'common.goBack' | translate }}</span>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
