@use '../../theming/mixins' as mixins;
:host {
  flex: 1;
}

.not-found {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  @include mixins.padding('md');

  &__card {
    width: 100%;
    max-width: 800px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    @include mixins.gap('lg');
  }

  &__error {
    &-number {
      font-size: 6rem;
      font-weight: 700;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    @include mixins.gap('sm');

    &-title {
      font-size: 2rem;
      font-weight: 500;
    }

    &-subtitle {
      font-size: 1.25rem;
    }
  }

  &__suggestions {
    width: 100%;
    
    &-title {
      font-size: 1.25rem;
      font-weight: 500;
      @include mixins.margin-bottom('sm');
    }
  }

  &__actions {
    display: flex;
    gap: 1rem;
  }
}

@container (max-width: 1280px) {
  .not-found {
    &__error-number {
      font-size: 5rem;
    }
  }
}

@container (max-width: 1024px) {
  .not-found {
    &__error-number {
      font-size: 4rem;
    }
    
    &__main-title {
      font-size: 1.75rem;
    }
  }
}

@container (max-width: 768px) {
  .not-found {
    &__error-number {
      font-size: 3rem;
    }

    &__main-title {
      font-size: 1.5rem;
    }

    &__actions {
      flex-direction: column;
      width: 100%;
    }
  }
}

@container (max-width: 480px) {
  .not-found {
    &__error-number {
      font-size: 2.5rem;
    }

    &__main-title {
      font-size: 1.25rem;
    }

    &__main-subtitle,
    &__suggestions-title {
      font-size: 1rem;
    }
  }
}
