@import "../../../../theaming/mixins";

.add-board {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  user-select: none;
  height: 100%;
  border-radius: 16px;
  background: var(--mat-sys-surface-container-high);
  box-shadow: var(--mat-sys-level1);
  container-type: inline-size;

  &:hover {
    transition: box-shadow 0.2s ease-in-out;
    box-shadow: var(--mat-sys-level2);
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    @include padding(xl);
    text-align: center;
  }

  &__icon {
    width: 48px;
    height: 48px;
    @include margin-bottom(sm);
    color: var(--mat-sys-color-on-surface-variant);
    font-size: 48px;
  }

  &__text {
    @include margin-bottom(xs);
    color: var(--mat-sys-color-on-surface-variant);
    font: var(--mat-sys-title-medium);

    &:last-child {
      font: var(--mat-sys-body-medium);
    }
  }

  @container (max-width: 1280px) {
    &__content {
      @include padding(sm);
    }
  }

  @container (max-width: 1024px) {
    &__content {
      @include padding(sm);
    }
  }

  @container (max-width: 768px) {
    &__content {
      @include padding(xs);
    }
  }

  @container (max-width: 280px) {
    &__content {
      @include padding(xs);
    }
  }
}
