@if (user()) {
  <button
    mat-button
    [matMenuTriggerFor]="userMenu"
    aria-label="User menu"
    class="user-badge"
  >
    <div class="user-avatar">
      <span class="avatar-initials">{{ getUserInitials() }}</span>
    </div>
    <div class="user-info">
      <span class="user-name">{{ user().name }}</span>
      <span class="username">({{ user().username }})</span>
    </div>
    <mat-icon class="dropdown-icon">arrow_drop_down</mat-icon>
  </button>

  <!-- User menu with logout option -->
  <mat-menu #userMenu="matMenu">
    <div class="user-menu-header">
      <div class="menu-avatar">
        <span class="avatar-initials">{{ getUserInitials() }}</span>
      </div>
      <div class="menu-user-info">
        <span class="session-status">Signed in as</span>
        <span class="menu-user-name">{{ user().name }}</span>
        <span class="menu-username">{{ user().username }}</span>
      </div>
    </div>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="onLogout()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
} @else {
  <button mat-raised-button color="primary" (click)="onLogin()">
    <mat-icon>login</mat-icon>
    <span>Login</span>
  </button>
}
