<div class="sidenav">
  <mat-nav-list class="sidenav__menu">
    <a
      mat-list-item
      routerLink="/boards-list"
      routerLinkActive="sidenav__menu-item--active"
      class="sidenav__menu-item"
    >
      <mat-icon matListItemIcon>view_list</mat-icon>
      <span matListItemTitle>{{ 'board.boardsList' | translate }}</span>
    </a>

    <a
      mat-list-item
      routerLink="/sign-in"
      routerLinkActive="sidenav__menu-item--active"
      class="sidenav__menu-item"
    >
      <mat-icon matListItemIcon>login</mat-icon>
      <span matListItemTitle>{{ 'auth.signIn' | translate }}</span>
    </a>

    @if (isAdmin) {
      <a
        mat-list-item
        routerLink="/admin"
        routerLinkActive="sidenav__menu-item--active"
        class="sidenav__menu-item"
      >
        <mat-icon matListItemIcon>admin_panel_settings</mat-icon>
        <span matListItemTitle>{{ 'admin.panel' | translate }}</span>
      </a>
    }
  </mat-nav-list>

  <div class="sidenav__footer">
    <mat-divider></mat-divider>
    <div class="sidenav__user">
      <kn-user-display [user]="currentUser | async" />
    </div>
  </div>
</div>
